.about-section {
  padding-top: 8rem;
  //padding-bottom: 8rem;
  background: $white;
  p {
    margin-bottom: 5rem;
  }
  .sub-section {
    padding: 5rem 0 5rem 0;
    @media (max-width: 1024px) {
      padding: 4rem 0 2.5rem 0;
    }
  }
}
